/* chart base styles */

.svg-chart line {
  shape-rendering: crispEdges;
}

.svg-chart .axis, .svg-chart .axis-label {
  font-size: 14px;
}

.svg-chart .axis line {
  fill: none;
  stroke: #CCC;
  stroke-width: 1px;
}

.svg-chart .axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 1px;
}

.svg-chart text.axis-label {
  fill: #707070;
}

.y.axis .tick:first-child line {
  stroke: #000;
  stroke-width: 1px;
}




/* tooltip styles */

.d3-tip {
  background-color: white;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 4px #CCC;
  font-size: 12px;
  padding: 12px;
  pointer-events: none;
}

.d3-tip .heading {
  font-weight: bold;
}

.d3-tip .circle {
  border-radius: 4px;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
}




/* line chart styles */

.line-chart .circle.active {
  stroke-width: 6px;
}
