/* chart base styles */

.svg-chart line {
  shape-rendering: crispEdges;
}

.svg-chart .axis, .svg-chart .axis-label {
  font-size: 12px;
}

.svg-chart .axis line {
  fill: none;
  stroke: #CCC;
  stroke-width: 1px;
}

.svg-chart .axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 1px;
}

.svg-chart text.axis-label {
  fill: #AAA;
}

.y.axis .tick:first-child line {
  stroke: #000;
  stroke-width: 1px;
}




/* tooltip styles */

.d3-tip {
  background-color: white;
  border: 1px solid #CCC;
  font-weight: bold;
  font-size: 12px;
  padding: 12px;
  pointer-events: none;
}




/* line chart styles */

.line-chart .line {
  fill: none;
  stroke: #058DC7;
  stroke-width: 4px;
}

.line-chart .circle {
  fill: #058DC7;
}

.line-chart .area {
  fill: #058DC7;
  fill-opacity: 0.1;
}
